body {
  font-family: sans-serif;
  background: #f0f0f0;
  text-align: center;
}

.game {
  margin-top: 50px;
}

.status {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.board {
  display: inline-block;
}

.row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  margin: 2px;
  cursor: pointer;
  background: white;
  border: 2px solid #333;
  border-radius: 8px;
  transition: color 0.3s ease;
}

.restart {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: hsla(20, 30%, 60%, 0.61);
  border-radius: 10px;
  border-width: 0.5px;
}

.restart:hover {
  background-color: hsla(20, 30%, 55%, 0.61);
}
